


.container {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    margin: 5px;
}

.product {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    box-shadow: 1px 1px 1px black;
}

.product img {
    border-radius: 3px;
}