.card {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    text-align: center;
    height: 600px;
    width: 500px;
    border-radius: 5px;
    font-size: 18px;
    margin: 10px;
    border: 1px solid black;
    background-color: #f9f9f9;
    box-shadow: 6px 3px 3px black;
}

.card:hover {
  transform: translateY(-5px);
  transition: all 0.3s ease;
  border-color: #000;
}