.errorCarga {
    width: 100%;
    height: 92vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    font-size: 40px;
    font-weight: 600;
}


@media screen and (max-width: 1024px) {
    .errorCarga {
        font-size: 35px;
    }
}


@media screen and (max-width: 768px) {
    .errorCarga {
        font-size: 28px;
        padding: 20px;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .errorCarga {
        font-size: 24px;
        padding: 15px;
    }
}