.product {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd; 
  overflow: hidden;
  height: 100%;
}

.div-img {
    width: 200px;
    height: 200px;
}
.product-img {
    object-fit: cover;
    display: block;
}
