@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
.main {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0px 5px;
    min-height: 100vh;
}