.formulario {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1024px) {
    .formulario {
        padding: 15px 10px;
    }
}

@media screen and (max-width: 768px) {
    .formulario {
        flex-direction: column;
        padding: 20px 15px;
        gap: 15px;
    }
}

@media screen and (max-width: 480px) {
    .formulario {
        padding: 15px 10px;
        gap: 20px;
    }
}