.busqueda-personalizada {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
}

.busqueda-personalizada input {
    font-size: 16px;
    outline: none;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    padding: 5px;
    border-radius: 8px;
    outline: none;
}

.busqueda-personalizada input::placeholder {
    font-size: 12px;
    text-transform: none;
}

@media screen and (max-width: 1024px) {
    .busqueda-personalizada {
        width: 350px;
    }

    .busqueda-personalizada input {
        font-size: 17px;
    }
}

@media screen and (max-width: 768px) {
    .busqueda-personalizada {
        width: 100%;
        max-width: 300px;
        padding: 0 10px;
    }

    .busqueda-personalizada label {
        font-size: 15px;
    }

    .busqueda-personalizada input {
        font-size: 16px;
        padding: 8px;
    }
}

@media screen and (max-width: 480px) {
    .busqueda-personalizada {
        width: 95%;
        max-width: 95%;
        padding: 0 5px;
    }

    .busqueda-personalizada input {
        font-size: 15px;
        padding: 10px 5px;
    }
}