@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.header {
    max-width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 0px 5px;
    border-radius: 5px;

}


.logo {
    text-decoration: none;
    color: black;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}


.navBar ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.navBar ul li {
    margin: 0px 10px;
}

.Link {
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.Link:hover {
    font-size: 18.6px;
}

.search {
    width: 200px;
}

.search input {
    font-size: 12px;
    width: 100px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    outline: none;
    text-align: center;
    transition: 1s;
}

.search input:focus {
    width: 180px;
    height: 30px;
    transition: 1s;
}