@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.header {
    max-width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding:5px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
    background-image: url("https://images.unsplash.com/photo-1548141003-e527ccac1af3?q=80&w=869&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position-y:-550px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px 5px;
    border-radius: 5px;
}

.title {
    text-align: center;
}

.navBar a {
    margin: 10px;
    color: white;
    font-style: none;
    text-decoration: none;
}

.navBar a:hover {
    color: blue;
}


.search {
    width: 200px;
}

.search input {
    font-size: 12px;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    outline: none;
    text-align: center;
    transition: 1s;
}

.search input:focus {
    width: 180px;
    height: 30px;
    transition: 1s;
}


