.financing{
    width: 100%;
    height: 87vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.financing article {
    text-align: center;
    line-height: 45px;
}

.cardsFinancing {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

/* Media Queries - Responsive Design */

/* Tablets (768px - 1024px) */
@media screen and (max-width: 1024px) {
    .financing {
        height: auto;
        min-height: 87vh;
        padding: 20px 10px;
    }

    .financing article {
        line-height: 35px;
        font-size: 16px;
    }

    .cardsFinancing {
        flex-flow: column nowrap;
        gap: 20px;
    }
}

/* Mobile (hasta 768px) */
@media screen and (max-width: 768px) {
    .financing {
        height: auto;
        min-height: 100vh;
        padding: 30px 15px;
    }

    .financing article {
        line-height: 30px;
        font-size: 15px;
        padding: 10px;
    }

    .cardsFinancing {
        flex-flow: column nowrap;
        width: 100%;
        gap: 25px;
    }
}
