.loading-skeleton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 10px;
}

.l-skeleton {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    text-align: center;
    height: 600px;
    width: 500px;
    border-radius: 5px;
    font-size: 18px;
    margin: 10px;
    border: 1px solid black;
    background-color: #f9f9f9;
    box-shadow: 6px 3px 3px black;
}