
footer {
    width: 100%;
    text-align: center;
    font-size: 10px;
    height: auto;
    margin: 0;
    padding: 5px;
    background-color: black;
    color: white;
}

@media screen and (max-width: 1024px) {
    footer {
        font-size: 13px;
        padding: 6px 5px;
    }
}

@media screen and (max-width: 768px) {
    footer {
        font-size: 13px;
        padding: 8px 5px;
        line-height: 20px;
    }
}


@media screen and (max-width: 480px) {
    footer {
        font-size: 12px;
        padding: 10px 5px;
    }
}