@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.main {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 5px;
}

.box-quienesSomos,
.box-propuestas {
    color: white;
    border-radius: 4px;
    margin-bottom: 5px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.box-quienesSomos {
    background-position: center;
    background-size: cover;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url("https://images.unsplash.com/photo-1526726538690-5cbf956ae2fd?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
}

.box-propuestas {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://plus.unsplash.com/premium_photo-1661488846873-9be205ad305a?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h3 {
    margin-left: 20px;
    font-size: 42px;
}

article {
    margin-top: 5px;
    margin-left: 40p x;
    width: 60%;
    font-size: 18px;
    padding: 8px;
    border-radius: 5px;
    line-height: 27px;

}

ul {
    margin-top: 5px;
}

li {
    font-weight: bold;
    list-style: none;
    font-size: 18px;
}

li+p {
    margin-left: 15px;
    font-size: 18px;
    line-height: 27px;
}

.box-quienesSomos .Link , .box-propuestas .Link{
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 5px 15px;
    border-radius: 5px;

}