.bold-info {
    font-size: 17px;
    margin: 3px 0 0 10px;
}

.feature {
    padding: 25px;
}

@media screen and (max-width: 1024px) {
    .bold-info {
        font-size: 16px;
    }

    .feature {
        padding: 20px;
    }
}


@media screen and (max-width: 768px) {
    .bold-info {
        font-size: 15px;
        margin: 3px 0 0 8px;
    }

    .feature {
        padding: 15px;
    }
}

@media screen and (max-width: 480px) {
    .bold-info {
        font-size: 14px;
        margin: 3px 0 0 5px;
    }

    .feature {
        padding: 12px;
    }
}