.title-info {
    font-size: 25px;
    margin-bottom: 10px;
}

.information-product {
    width: 100%;
    padding: 30px;
}

.table-tips {
    border-bottom: 1px solid rgba(201, 201, 201, 0.37);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
}

.table-tips p {
    margin: 3px;
    width: 50%;
}

.particular-information {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px;
}

.typeTips {
    font-weight: 470;
}

.tips {
    font-weight: 200;
    padding-left: 8px;
}