.financing{
    width: 100%;
    height: 87vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.financing article {
    text-align: center;
    line-height: 45px;
}

.cardsFinancing {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}
