.product {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 20px;
    align-items: start;
}


.imgs {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.large-img {
    height: 600px;
    width: 100%;
    border-radius: 10px;
}

.large-photo {
    height: 100%;
    border-radius: 20px;
    width: 100%;
}

.smalls-img {
    width: 100%;
    display: flex;
}

.small-photo {
    width: 150px;
    margin: 20px;
    border-radius: 10px;
}


.info-product {
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid rgba(165, 165, 165, 0.53);
    width: 100%;
    height: 100%;
    margin: 20px;
    border-radius: 10px;
}


.info {
    padding: 50px;
}