@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.principal-page{
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

main {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0px 5px;
  flex: 1;
}

@media screen and (max-width: 1024px) {
  main {
    padding: 0px 4px;
  }
}

@media screen and (max-width: 768px) {
  * {
    box-sizing: border-box;
  }

  .principal-page {
    overflow-x: hidden;
  }

  main {
    padding: 0px 3px;
  }
}


@media screen and (max-width: 480px) {
  main {
    padding: 0px 2px;
  }
}