
.link {
    padding: 5px;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .link {
        padding: 8px;
        font-size: 14px;
        display: inline-block;
        min-width: 100px;
    }
}

@media screen and (max-width: 480px) {
    .link {
        padding: 10px;
        font-size: 13px;
    }
}